body{
    width: 100vw;
    height: 100vh;
    border: solid lightgray 20px;
    background-color: rgb(190, 189, 189);
    border-left: solid 55px gray;
    /* border-right: solid 55px gray; */
    border-image: url(wall.jpg);
    border-image-width: 400px;
}

.left-side-wall{
    border-bottom-right-radius: unset;
    position: absolute;
    top: 0px;
    margin-left: -10px;
    padding: 300px;
    /* background-color: rgb(104, 94, 94); */
    /* background-image: url(wall.jpg) 30 round; */
    border-image-width: 400px;
    border-top-right-radius: 218px;
    padding-bottom: 453px;
    
}

.turning-side{
padding: 100;
background-color: #fff;
}

.ATM{
    width: 500px;
    height: 558px;
    background-color: #59A5D8;
    border: solid rgb(206, 204, 204) 147px;
    border-right: rgb(172, 172, 172) solid 40px;
    border-left: rgb(172, 172, 172) solid 40px;
    margin-left: 431px;
    margin-top: 41px;
    /* width: 500px;
    height: 465px;
    background-color: #59A5D8;
    border: solid rgb(206, 204, 204) 40px;
    border-right: rgb(172, 172, 172) solid 40px;
    border-left: rgb(172, 172, 172) solid 40px;
    margin-left: 431px;
    margin-top: 41px; */
}
.screen-output{
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    /* padding-left: 81px; */
    /* padding-right: 305px; */
    padding-top: 15px;
    background-color: #fff;
    margin-left: 0px;
    margin-right: 0px;
    /* border-radius: 32px; */
    word-wrap: break-word;
    margin-bottom: 0px;
    margin-top: 0;
    /* border-top-right-radius: 0px; */
    border-bottom-right-radius: 0px;
    max-height: 264px;
    width: 420px;
    background-color: rgb(150, 194, 194);


}
.buttons-position-1{
    position: absolute;
    top: 225px;
    margin-left: 40px;

}
.buttons-position-2{
    position: absolute;
    top: 300px;
    margin-left: 40px;

}
.buttons-position-3{
    position: absolute;
    top: 397px;
    margin-left: 40px;

}
.buttons-position-4{
    position: absolute;
    top: 225px;
    margin-left: 480px;
}
.buttons-position-5{
    position: absolute;
    top: 300px;
    margin-left: 480px;

}
.buttons-position-6{
    position: absolute;
    top: 397px;
    margin-left: 480px;

}
.output-buttons input{
    display: inline-block;
    padding: 5px 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    /* outline: none; */
    color: #fff;
    background-color: rgb(150, 194, 194);
    border-radius: 15px;
    box-shadow: inset 18px 11px 20px -1px #999;
}
.whole-button-1{
    margin-left: -141px;
}
.whole-button-2{
    margin-left: -4px;
}
.keyboard {
    border-bottom: 233px solid #555;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    height: 655px;
    /* margin-left: 200px; */
    width: 861px;
    margin-bottom: 0px;
}
.btn{
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 700;
    box-shadow: 0 5px #999;
            
}
.btnDC{
    height: 35px;
    width: 35px;
    margin-left: 15px;
    margin-top: 10px;
    padding-right: 1px;
    font-size: 11px;
    padding-left: 0px;
    background-color: red;
    border: none;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 5px #999;
    border-radius: 9px;


        
}
.keys{
    position: absolute;
    top: 557px;
    margin-left: -55px;
}
.numbers{
    margin-top: -139px;
    margin-left: -21px;
    transform: perspective(177px) rotateX(7deg);
    color: black;
    height: 581px;
}
.w{
    margin-top: -13px;
    }
    .d{
        margin-top: 3px;    }
    .rt{
    margin-top: 50px;
    }
    .t{
    
    }
    .b{
    margin-top: 66px;
    }
    .c{
    margin-top: 64px;
    }
    .cash{
        display: inline-block;
        padding: 15px;
    }
    .transaction-1{
        margin-left: -324px;
    margin-top: -15px;
    }
    .transaction-2{
        position: absolute;
        top: 316px;
        margin-left: 40px
    }
    .reciept-out{
        display: inline-block;
    padding: 16px 60px;
    position: absolute;
    top: 488px;
    background-color: rgb(114, 106, 106);
    margin-left: 963px;
    border-radius: 13px;
    }
    .reciept{
        position: absolute;
        top: 338px;
        margin-left: 541px;
        width: 100px;
        height: 10px;
        /* background: rgb(112, 104, 104); */
        -webkit-transition: height 2s ease;
        transition: height 2s ease;
            /* display: inline-block; */
            padding: 10px;
            background-color: #fff;
            display: flex;
        flex-direction: column;
        
    }
    .reciept {
        position: absolute;
    /* width: 100%; */
    top: 499px;
    margin-left: 974px;
    transform: rotateX(1deg);
    }
    .reciept:hover {
        height: 100px;
    
    }
    .side-walk{
        background-repeat: repeat-x;
        border-bottom: 317px solid #555;
        border-left: 25px solid transparent;
        border-right: 102px solid transparent;
        height: 0px;
        width: 1687px;
        margin-top: 134px;
        margin-left: -86px;
        border-image: url(sidewalk.jpg);
        background-image: url(sidewalk.jpg);
        transform: rotatez(0);
    }
    .side-walk-t{
        width: 162px;
    height: 80px;
    background-color: rgb(104, 113, 119);
    border: solid rgb(206, 204, 204) 37px;
    border-right: rgb(172, 172, 172) solid 15px;
    border-left: rgb(172, 172, 172) solid 12px;
    margin-left: 937px;
    margin-top: -976px;
    /* transition: .5s ease; */
    }
    .side-walk-t img{
        width: 135px;
        height: 173px;
    
    }
    .side-walk-t:hover .card {
        height: 173px;
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

      }
      .card{
        position: absolute;
    top: 131px;
    bottom: 0;
    left: 1004px;
    right: 9px;
    /* background-color: #008CBA; */
    overflow: hidden;
    width: 134px;
    height: 0;
    transition: .5s ease;
    border: 1px solid #ddd;
    border-radius: 4px;
        /* transform: rotate(50deg) */
    }
    /* transform: rotateZ(180deg);
    border-bottom: 130px solid #555;
    border-left: 105px solid rgb(211, 180, 240);
    border-right: 102px solid transparent;
    height: 0px;
    width: 988px;
    margin-top: -423px;
    margin-left: 222px; */
    .entire-AtmScreen-1 {
        position: absolute;
    top: 0;
    width: 0px;
    height: 754px;
    border-top: 25px solid transparent;
    border-left: 120px solid #555;
    border-bottom: 0px solid transparent;
    margin-left: 1482px;
    }
    .hint-screen{
        transform: rotateX(1deg);
        width: 265px;
        height: 116px;
        background-color: #59A5D8;
        /* border: solid rgb(85, 87, 92) 14px; */
        border: solid rgb(206, 204, 204) 14px;
        border-right: rgb(172, 172, 172) solid 40px;
        border-left: rgb(172, 172, 172) solid 40px;
        margin-left: 797px;
        margin-top: 453px;
    
    }
    .hint-screen-output{
        text-align: center;
        display: inline-flex;
        flex-direction: column;
        /* padding-left: 81px; */
        /* padding-right: 305px; */
        padding-top: 15px;
        background-color: #fff;
        margin-left: 0px;
        margin-right: 0px;
        /* border-radius: 32px; */
        word-wrap: break-word;
        margin-bottom: 0px;
        margin-top: 0;
        /* border-top-right-radius: 0px; */
        border-bottom-right-radius: 0px;
        max-height: 264px;
        width: 420px;
        background-color: rgb(150, 194, 194);
        height: 100px;
         width: 200px;
    
    }
    /* border-right: rgb(172, 172, 172) solid 40px; */