body{
    background-color: gray;
}
.ATM{
    background-image: url(atm.png);
    background-repeat: no-repeat;
    display: inline-block;
    /* background-color: rgb(109, 150, 168); */
    padding: 300px;
    background-size: 1000px;
    word-wrap: break-word;
    
}
.screen{
    display: inline-block;
    /* padding: 50px 15px; */
    word-wrap: break-word;
    /* padding-right: 600px; */
}
.output,.screen h2{
    margin-bottom: 100px;
}
.buttn{
    margin-top: 200px;
}
.buttna{
    margin-top: 70px;
}
